body{
  margin: 0;
  background-color: whitesmoke;
}

.main-container{
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar{
  padding-top: 2vw;
  display: grid;
  align-content: flex-start;
  row-gap: 50px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 1.5rem;
}

.tab{
  display: grid;
  row-gap: 10px;
}

.tool{
  display: grid;
  row-gap: 10px;
}

.main{
  display: grid;
  grid-template-rows: 1fr auto;
}

.header{
  padding-top: 1vw;
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: white;
  grid-template-rows: repeat(2, minmax(80px, 80%));

}

.search{
  display: grid;
  grid-template-columns: 1fr 8fr;
  justify-content: flex-start;
  align-content: flex-start;
}

.search input{
  border: 0;
  background-color: whitesmoke;
  border-radius: 5px;
}

.profile{
    display: grid;
    grid-template-columns: auto auto 3fr;
    column-gap: 20px;
    justify-items: center;
    align-items: center;
}

.button{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: left;
  align-content: center;
}

.intro{
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.photo2{
  grid-row: span 2;
  align-self: center;
  justify-self: center;
}

.body{
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.project{
  display: grid;
}

.project-items{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto repeat(auto-fit, minmax(200px, 80%));
  gap: 50px;
  margin: 15px;
}

.project-item{
  background-color: white;
  border-radius: 10px;
}

.pj-item-btns{
  float: right;
}

.body-sidebar{
  display: grid;
  grid-template-rows: repeat(2, 450px);
}

.sidebar, .btn{
  background-color: lightskyblue;
  color: white;
}

.announcement-item{
  display: grid;
  grid-template-rows: auto 80px;
}

.trending-item{
  display: grid;
  grid-template-rows: auto 50px;
}

hr{
  background-color: black;
  height: 1px;
}

.announcement, .trending{
  display: grid;
  grid-template-rows: 42px 400px;
}

.announcement-items, .trending-items{
  margin: 15px;
  background-color: white;
  border-radius: 10px;
}

.am-itm-body, .tr-itm-body{
  overflow:hidden;
}

.announcement-item, .trending-item{
  font-size: x-small;
}

.tab img, .tool img{
  filter: brightness(0) invert(1);
}